<form id="pagerForm" method="post" action="<{:U('Admin/User/lst')}>">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="<?php echo $data['perpage'];?>" />
	<input type="hidden" name="orderField" value="<?php echo $data['orderField'];?>" />
	<input type="hidden" name="orderDirection" value="<?php echo $data['orderDirection'];?>" />
</form>
<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="<{:U('Admin/User/lst')}>" method="post">
	<div class="searchBar">
		<ul class="searchContent">
			<li>
				<label>用户名：</label>
				<input type="text" name="keywords" value="<?php echo $data['keywords'];?>"/>
			</li>
		</ul>
	
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
			</ul>
		</div>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
		<li><a class="icon" href="<{:U('Admin/User/doExportExcel')}>" targettype="navTab" title="实要导出这些记录吗?"><span>导出所有用户</span></a></li>

			<li class="line">line</li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="138">
		<thead>
			<tr>
				<!-- <th width="22"><input type="checkbox" group="ids[]" class="checkboxCtrl"></th> -->
				<th width="120" orderField="id" <?php if($data['orderField']=='id'):?>class="<?php echo $data['orderDirection']?>"<?php endif; ?>>用户号</th>
				<th>公司名</th>
				<th>手机号</th>
				<th>openid</th>
				<th>地址</th>
				<th>微信昵称</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach($data['data'] as $v): ?>
			<tr target="sid" rel="<?php echo $v['id'];?>">
				
				<!-- <td><input name="ids[]" value="<?php echo $v['id'];?>" type="checkbox"></td> -->
				
				<td><?php echo $v['id']; ?></td>
				<td><?php echo $v['company_name']; ?></td>
				<td><?php echo $v['mobile']; ?></td>
				<td><?php echo $v['openid']; ?></td>
				<td><?php echo $v['address']; ?></td>
				<td><?php echo $v['nickname']; ?></td>

			</tr>
			<?php endforeach;?>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
				<option  value="20">20</option>
				<option <?php if($data['perpage'] == 30):?>selected="selected"<?php endif;?> value="30">30</option>
				<option <?php if($data['perpage'] == 40):?>selected="selected"<?php endif;?> value="40">40</option>
				<option <?php if($data['perpage'] == 50):?>selected="selected"<?php endif;?> value="50">50</option>
			</select>
			<span>共<?php echo $data['total']; ?>条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount="<?php echo $data['total']; ?>" numPerPage="<?php echo $data['perpage'];?>" pageNumShown="10" currentPage="<?php echo $data['currentPage']; ?>"></div>

	</div>
</div>
