<script type="text/javascript" src="__PUBLIC__/Admin/echarts/build/dist/echarts.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/echarts/build/dist/chart/pie.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/echarts/build/dist/chart/funnel.js"></script>

<?php foreach($title as $k=>$v):?>
<h2><?php echo $v;?></h2>
<div id="<?php echo $k;?>" style="height:400px;border: 1px solid #000000"></div>
<?php endforeach;?>

<?php foreach($data as $k1=>$v1):?>

<script type="text/javascript">

    require.config({
        paths: {
            echarts: './js/dist'
        }
    });
    require(
            [
                'echarts',
                'echarts/chart/funnel',
                'echarts/chart/pie',   // 按需加载所需图表，如需动态类型切换功能，别忘了同时加载相应图表
            ],
            function (ec) {
                var myChart = ec.init(document.getElementById('<?php echo $k1?>'));
                var option = {
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient : 'vertical',
                        x : 'left',
                        data:<?php echo $v1['title']?>
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: false},
                            dataView : {show: true, readOnly: false},
                            magicType : {
                                show: true,
                                type: ['pie', 'funnel'],
                                option: {
                                    funnel: {
                                        x: '25%',
                                        width: '50%',
                                        funnelAlign: 'center',
                                        max: 1548
                                    }
                                }
                            },
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    series : [
                        {
                            name:'访问来源',
                            type:'pie',
                            radius : ['50%', '70%'],
                            itemStyle : {
                                normal : {
                                    label : {
                                        show : false
                                    },
                                    labelLine : {
                                        show : false
                                    }
                                },
                                emphasis : {
                                    label : {
                                        show : true,
                                        position : 'center',
                                        textStyle : {
                                            fontSize : '30',
                                            fontWeight : 'bold'
                                        }
                                    }
                                }
                            },
                            data:<?php echo $v1['data']?>
                        }
                    ]
                };
                myChart.setOption(option);
            }
    );
</script>

<?php endforeach;?>
 
