<script src="__PUBLIC__/Admin/js/qrcode.js" type="text/javascript"></script>
<div class="pageContent">
	<form method="post" action="" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDone)">

		<div class="pageFormContent" layoutH="58">

			<div class="unit">
				<label>表名：</label>
				<input type="text"  value="<?php echo $data['table_name'];?>" readonly="readonly" size="40">
			</div>
            <div class="unit">
                <label>表注释：</label>
                <input type="text"  value="<?php echo $data['comment'];?>" readonly="readonly" size="40">
            </div>
            <div class="unit" >
                <label>微信调查url：</label>
                <textarea id="wxurl" style="width: 270px;height: 150px;"><?php echo $data['url'];?></textarea>
            </div>
            <div class="unit">
                <label>二维码</label>
                <div id="wxurl-qrcode" style="width: 200px;height: 200px; float: left"></div>
                <script>
                    var wxurl = document.getElementById("wxurl").innerHTML
                    console.log(wxurl)
                    var qrnode = new AraleQRCode({
                        text: wxurl,
                        pdground: '#00aaee',
                        image : '__PUBLIC__/Admin/ico/favicon.ico'
                    });
                    document.getElementById('wxurl-qrcode').appendChild(qrnode);
                </script>
            </div>

		</div>
		

	</form>

</div>
